@import "tailwindcss";

:root {
   --foreground-rgb: 255, 255, 255;
 /*--background-start-rgb: 214, 219, 220;*/
 /*--background-end-rgb: 255, 255, 255; */
  --background: black;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
   --background-start-rgb: 0, 0, 0;
   --background-end-rgb: 0, 0, 0; */
    --foreground-rgb: 255, 255, 255;;
    --background: black;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
 /*background: linear-gradient(to bottom,*/
 /*    transparent,*/
 /*    rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: var(--background);
}

.primary-gradient {
  @apply bg-gradient-to-br from-indigo-800  to-orange-400;
}

.secondary-gradient {
  @apply bg-gradient-to-br from-blue-400 to-indigo-600;
}

.btn-primary{
  @apply bg-[#2f2f2f] text-white rounded-full px-6 py-3;
}

.btn-primary-hollow {
  @apply border border-orange-400 ;
}

.btn-secondary{
  @apply bg-white text-black rounded-full px-6 py-3 ;
}

/*.standard-input{*/
/*  @apply block w-full rounded-full border-0 py-3 pl-3 sm:pl-12 text-gray-100 bg-zinc-800 bg-opacity-50 ring-1 ring-inset ring-gray-800 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-neutral-600 focus:border-none focus:outline-none sm:text-sm sm:leading-6 placeholder:text-sm;*/
/*}*/